@import "~materialize-css/dist/css/materialize.css";

body{
    background-color: rgb(252, 241, 227);
}
tr{
    font-size: 20px;
}
.app{
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important
}

input.yellow-input + label {
    color: #fff!important;
}
input.yellow-input:focus + label {
    color: #ffeb3b!important;
}
input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important
}

